.nav-menu {
  display: none;
}

.nav {
  width: 27px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
}

.nav::after {
  content: "";
  display: block;
  width: 2px;
  height: 90px;
  margin: 0px auto;
  background-color: #5EEAD4;
}

.nav> ul> li {
  padding-bottom: 22px;
}

@media screen and (max-width: 768px) {
  .nav {
    position: static;
    display: none;
  }

  .nav-menu {
    display: block;
    width: 100%;
    white-space: nowrap;
  }

  .nav-menu> a> i {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    margin: 15px 29px 0 0;
  }
}
