<div class="about" id="about" data-aos="zoom-in-up" data-aos-duration="1500">
  <div class="about-me">
    <h2 class="title-about"><small style="color: #4FE8D0; margin-right: 16px;">01.</small>About Me</h2>

    <p style="font-size: 20px; color: #8892b0; line-height: 26px; font-family: serif;">
        Hello! My name is Guilherme and I enjoy creating software, especially websites.
        My interest in web development started in 2019 when I was a teenager who just wanted to program my own applications
        it didn't matter what it was, I just wanted to learn how to code, at that time, I didn't think of pursuing it as a profession,
        I started researching where to begin programming, and after a lot of research,
        I decided to start with Java because I heard it was very difficult to start with and not recommended for beginners,
        that's when I felt the urge that every good programmer has - 'I want to learn this no matter what',
        yes, it was for the challenge (I think it was even the 'Java is difficult' statement that led me to want to learn assembly,
        C/C++, and Linux haha). Anyway, I kept learning new things from Java, and one thing led to another. In the end,
        I decided to pursue it as a profession, and the rest is history.</p>

  <div class="clear"></div>

  </div>
  <div class="about-image">
    <div class="img-guilherme">
      <img class="eu-azul" src="../../../assets/static/images/eu-azul.jpg">
      <img class="eu" src="../../../assets/static/images/eu.jpg">
    </div>
  </div>
</div>
