<div class="about" id="about" data-aos="zoom-in-up" data-aos-duration="1500">
  <div class="about-me">
    <h2 class="title-about"><small style="color: #4FE8D0; margin-right: 16px;">01.</small>Sobre mim</h2>

    <p style="font-size: 20px; color: #8892b0; line-height: 26px; font-family: serif;">
        Como eu disse, sou apenas um cara que gosta da arte de programar, especialmente websites.
        Meu interesse por programação começou em 2019 quando eu era apenas um adolescente que só queria programar meus próprios sistemas,
        não importava o que fosse, só simplesmente queria aprender a programar, naquela época nem pensava em seguir como profissão,
        foi ai então que comecei a pesquisar como programar, aprendi que era essencial saber ao
        menos uma linguagem de programação, comecei então a pesquisar pelas linguagens de programação,
        e depois de muita pesquisa, ouvi dizer de um tau de Java que era muito difícil de começar e não recomendado para iniciantes,
        nesse momento senti a vontade que todo bom programador tem - "Quero aprender isso não importa o que",
        sim, foi pelo desafio (afirmações como essa "Java é difícil" me levaram a me desafiar e aprender outras coisas consideradas
        difíceis, coisas como C/C++, Assembly e Linux hehe). De qualquer forma,
        continuei aprendendo coisas novas com Java e uma coisa levou à outra. No final, decidi seguir como profissão,
        e o resto é história...</p>

  <div class="clear"></div>

  </div>
  <div class="about-image">
    <div class="img-guilherme">
      <img class="eu-azul" src="../../../assets/static/images/eu-azul.webp">
      <img class="eu" src="../../../assets/static/images/eu.webp">
    </div>
  </div>
</div>
