/* == espacamentos about == */
.about {
  max-width: 90%;
  width: 90%;
  margin: 250px auto 0;
}

.about-me {
  float: left;
  max-width: 60%;
  width: 60%;
}

.about-image {
  float: right;
  max-width: 40%;
  width: 40%;
  padding: 75px 0 0 70px;
}



.about-image> .img-guilherme {
  border-radius: 1%;
  width: 280px;
  height: 280px;
  box-shadow: 22px 22px #0A192F, 22px 22px 0px 2.5px #5EEAD4;

  background-image: url('../../../assets/images/eu-azul.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
}

.about-image> .img-guilherme:hover {
  box-shadow: 16px 16px #0A192F, 16px 16px 0px 2.5px #5EEAD4;
  background-image: url('../../../assets/images/eu.jpg');
}




/* titulo about me */

*, ::before, ::after {
  box-sizing: inherit;
}


.title-about {
  color: white;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 26px;
  white-space: nowrap;
} .title-about::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  margin-left: 20px;
  background-color: gray;
}
