html {
  scroll-behavior: smooth !important;
}

body{
  height: 100% !important;
  color: white !important;
  background-color: var(--primary-color) !important;
  font-family: var(--font-main) !important;
}
