html {
  scroll-behavior: smooth !important; /* scroll lento */
}

body{
  height: 100% !important;
  color: white !important;
  background-color: var(--primary-color) !important;
  font-family: var(--font-main) !important;
}

/* troca suave entre páginas */
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
