<div class="infoinit" data-aos="fade-right">
  <p class="hi">Hi, my name is</p>
  <p class="name">Guilherme Luis.</p>
  <p class="developer-web">I'm a full-stack web developer.</p>
  <p class="info">
    Just a technology enthusiast developer since I was 15 years old, my focus is on web development where I create unique experiences.
    Fellow developers, if you're curious, take a look at my
    <a href="https://github.com/gulybyte" target="_blank"><i class="pi pi-github"></i> GitHub</a>.
  </p>
  <a pButton pRipple type="button" label="Check code this website!" target="_blank"
    href="https://github.com/gulybyte/gulybyte.github.io" class="thiscode p-button-outlined p-button-success"></a>
</div>
