<div class="infoinit" data-aos="fade-right">
  <p style="font-family: 'SF Mono'; font-weight: 400; font-size: 18px; color: #5EEAD4;">Hi, my name is</p>
  <p style="margin-top: 23px; font-family: 'Calibre-semibold'; font-weight: 600; font-size: 78px; color: #CCD6F6;">Guilherme Luis.</p>
  <p style="font-family: 'Calibre-semibold'; font-weight: 600; font-size: 72px; color: #8892b0;">I'm developer web Full-Cycle.</p>
  <p style="font-family: serif; font-weight: 400; font-size: 20px; color: #8892b0; line-height: 26px; max-width: 51%;">
    Just a developer passionate about technology since I was 15, my focus is on web development, where I create unique experiences.
    You developer, if you're curious look at my <a href="https://github.com/GuilhermeLuisFranca404" target="_blank">
      <i class="pi pi-github"></i> GitHub</a>.
  </p>
  <a style="font-family: 'SF Mono-900'; color:#64ffda; font-size: 15px; margin-top: 50px; padding: 12px 25px;"
    pButton pRipple type="button" label="Check code this website!" target="_blank"
    href="https://github.com/GuilhermeLuisFranca404/GuilhermeLuisFranca404.github.io" class="p-button-outlined p-button-success"></a>
</div>
