/* == header == */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 25px 35px;
  background-color: #0A192F;
  opacity: 1 !important;
  z-index: 998;
}

.header-contents {
  display: inline-block;
}

.header-contents> button {
  margin-left: 40px;
}

.header-contents> .navigation {
  font-size: 16px;
  font-family: 'SF Mono';
  color: #8892B0 !important;
  padding: 0 30px 15px 0;
}.header-contents> .navigation:hover {
  color: #40bba9 !important;
}

.header-navbar {
  display: none;
}








/* == email == */
.email {
  width: 27px;
  position: fixed;
  bottom: 0px;
  right: 40px;
  left: auto;
  font-size: 15px;
  z-index: 10;
}

.email::after {
  content: "";
  display: block;
  width: 2px;
  height: 90px;
  margin: 0px auto;
  background-color: #5EEAD4;
}

.email> a {
  margin: 7px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
