<header class="header">
  <a data-aos="fade-right" data-aos-duration="1000" href="/">
    <img width="50" src="../../../assets/static/images/icon.png">
  </a>

  <div data-aos="fade-down" data-aos-duration="2000" class="header-contents">

    <a href="#about" style="color: white;" class="navigation">
      <span style="color: #4FE8D0; margin-right: 10px;">01.</span>About</a>

    <a href="#philosophy" style="color: white;" class="navigation">
      <span style="color: #4FE8D0; margin-right: 10px;">02.</span>Philosophy</a>

    <a pButton pRipple type="button" label="Resume" target="_blank" href="../../assets/static/PDF/Resume.pdf"
      class="p-button-outlined p-button-success"></a>

  </div>

  <div data-aos="fade-down" data-aos-duration="2000" class="header-navbar">

    <input type="checkbox" id="trigger"  hidden="">
    <label class="navbarLabel" for="trigger" (click)="toggleNavbarVisible()"><span></span></label>

  </div>
</header>

<ul class="navbarUl" *ngIf="navbarVisible">
  <a href="#about" style="color: white;" class="navigation">
    <span style="color: #4FE8D0;">01.</span><br>About</a> <br>

  <a href="#about" style="color: white;" class="navigation">
    <span style="color: #4FE8D0;">02.</span><br>Philosophy</a>

  <a pButton pRipple type="button" label="Resume" target="_blank" href="../../assets/static/PDF/Resume.pdf"
    class="p-button-outlined p-button-success"></a>

  <app-components-base-nav></app-components-base-nav>
</ul>

<div class="clear"></div>

<app-components-base-nav></app-components-base-nav>

<div orientation="right" class="email" data-aos="fade-left" data-aos-duration="2500">
  <a href="mailto:gulybyte@gmail.com" target="_blank" rel="noopener noreferrer">gulybyte@gmail.com</a>
</div>
