<app-components-base></app-components-base>

<div class="container">

  <app-components-infoinit></app-components-infoinit>

  <div class="clear"></div>

  <app-components-about></app-components-about>

  <div class="clear"></div>

  <app-component-philosophy></app-component-philosophy>

  <div class="clear"></div>

  <style>
    @media screen and (max-width: 419px) {
      .soon-more {
        font-size: 22px !important;
      }
      .soon-more> i {
        font-size: 22px !important;
      }
    }

    @media screen and (max-width: 380px) {
      .soon-more {
        font-size: 18px !important;
      }
      .soon-more> i {
        font-size: 18px !important;
      }
    }
  </style>
  <div class="soon-more" style="margin: 80px; text-align: center; font-size: 25px; font-family: 'Calibre-semibold';">
    <i class="pi pi-exclamation-triangle" style="color: yellow; font-size: 25px;"></i> Under Building! <i
      style="font-size: 25px;" class="pi pi-spin pi-spinner"></i> Soon More <i
      style="font-size: 25px;" class="pi pi-calendar-plus"></i>
  </div>
</div>

