<app-components-home></app-components-home>

<div class="container" data-aos="fade-right">

  <p style="font-family: 'SF Mono'; font-weight: 400; font-size: 18px; color: #5EEAD4;">Hi, my name is</p>
  <p style="margin-top: 8px; font-family: Calibre; font-weight: 600; font-size: 78px;">Guilherme Luis.</p>
  <p style="font-family: Calibre; font-weight: 600; font-size: 72px; color: #8892b0;">I'm developer web Full-Cycle.</p>
  <p style="font-family: Calibre; font-weight: 400; font-size: 20px; color: #8892b0; line-height: 26px; max-width: 60%;">
    Just a developer passionate about technology since I was 15, my focus is on web development, where I create unique experiences.
    You developer, if you're curious look my <a href="https://github.com/GuilhermeLuisFranca404" target="_blank">
      <i class="pi pi-github"></i> GitHub</a>.
  </p>

  <p style="font-family: 'SF Mono'; font-weight: 400; font-size: 18px; color: #5EEAD4;">Hi, my name is</p>
  <p style="margin-top: 8px; font-family: Calibre; font-weight: 600; font-size: 78px;">Guilherme Luis.</p>
  <p style="font-family: Calibre; font-weight: 600; font-size: 72px; color: #8892b0;">I'm developer web Full-Cycle.</p>
  <p style="font-family: Calibre; font-weight: 400; font-size: 20px; color: #8892b0; line-height: 26px; max-width: 60%;">
    Just a developer passionate about technology since I was 15, my focus is on web development, where I create unique experiences.
    You developer, if you're curious look my <a href="https://github.com/GuilhermeLuisFranca404" target="_blank">
      <i class="pi pi-github"></i> GitHub</a>.
  </p><p style="font-family: 'SF Mono'; font-weight: 400; font-size: 18px; color: #5EEAD4;">Hi, my name is</p>
  <p style="margin-top: 8px; font-family: Calibre; font-weight: 600; font-size: 78px;">Guilherme Luis.</p>
  <p style="font-family: Calibre; font-weight: 600; font-size: 72px; color: #8892b0;">I'm developer web Full-Cycle.</p>
  <p style="font-family: Calibre; font-weight: 400; font-size: 20px; color: #8892b0; line-height: 26px; max-width: 60%;">
    Just a developer passionate about technology since I was 15, my focus is on web development, where I create unique experiences.
    You developer, if you're curious look my <a href="https://github.com/GuilhermeLuisFranca404" target="_blank">
      <i class="pi pi-github"></i> GitHub</a>.
  </p><p style="font-family: 'SF Mono'; font-weight: 400; font-size: 18px; color: #5EEAD4;">Hi, my name is</p>
  <p style="margin-top: 8px; font-family: Calibre; font-weight: 600; font-size: 78px;">Guilherme Luis.</p>
  <p style="font-family: Calibre; font-weight: 600; font-size: 72px; color: #8892b0;">I'm developer web Full-Cycle.</p>
  <p style="font-family: Calibre; font-weight: 400; font-size: 20px; color: #8892b0; line-height: 26px; max-width: 60%;">
    Just a developer passionate about technology since I was 15, my focus is on web development, where I create unique experiences.
    You developer, if you're curious look my <a href="https://github.com/GuilhermeLuisFranca404" target="_blank">
      <i class="pi pi-github"></i> GitHub</a>.

  <!--<p style="font-family: Calibre; font-weight: 400; font-size: 20px; color: #8892b0; line-height: 26px; max-width: 60%;">I'm a software developer&lt;T&gt; , pragmatic, generic yet expert, where I plan, design, create and deploy,providing excellent experiences, both with front-end design and system design, presenting a great experience with great security,versatility and performance. My specialization is more in the back-end, where I specialize in the Spring ecosystem and seeklearn dev-ops culture, especially with AWS.</p>-->

</div>

