*, ::before, ::after {
  box-sizing: inherit !important;/* config default antes e depois dos elementos */
}

.container {
  width: 75%;
  margin: 110px auto 0;
}

@media screen and (max-width: 768px) {

  .container {
    width: 80%;
    margin: 80px auto 0;
  }

}

@media screen and (max-width: 580px) {

  .container {
    width: 90%;
  }

}

@media screen and (max-width: 380px) {
  .container {
    width: 85%;
  }
}
