@use '_colors' as c;
@use '_fonts' as f;


* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth !important; /* scroll lento */
}

body{
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
  color: white !important;
  background-color: c.$primary-color !important;
  font-family: f.$font-main !important;
}

label {
  font-weight: bold;
}

a {
  color: c.$secondary-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

pre {
  overflow-x: auto;
}

.img-80 {
  width: 80%;
  margin: 0 auto;
}

body::-webkit-scrollbar-track{background: c.$primary-color  }
body::-webkit-scrollbar{width: 6px;}
body::-webkit-scrollbar-thumb{ background-color: c.$secondary-color ; }
