@use '_colors' as c;
@use '_fonts' as f;
@use 'content/_prose-h';


* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth !important; /* scroll lento */
}

body{
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
  color: white !important;
  background-color: c.$primary-color !important;
  font-family: f.$font-main !important;

  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  /* font-feature-settings: "cv11", "salt", "ss01", "ss03", "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv09", "cv10" !important; */
}

label {
  font-weight: bold;
}

a {
  color: c.$tertiary-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

pre {
  overflow-x: auto;
}

.img-80 {
  width: 80%;
  margin: 0 auto;
}

body::-webkit-scrollbar-track{background: c.$primary-color  }
body::-webkit-scrollbar{width: 6px;}
body::-webkit-scrollbar-thumb{ background-color: c.$tertiary-color ; }
