$primary-color: #0A192F;//00173E (04041f)
$secondary-color: #2f81f7;//0cfbb2
$tertiary-color: #00ffff;//F3044D

$primary-color-home: #06101e;

$dark-color: #060D15;

$light-gray: #708093;
$font-color: #7ba3ff;

