@use 'assets/fonts' as f;

.articles-tecnico-container {
  padding: 0;
  margin: 20px auto;
  width: 80% !important;

  h1, h2, h3, h4, h5, h6, p {
    color: #F5F5F5;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: f.$raleway-semibold !important;
    padding: 1rem;
  }

  h3 {
    font-size: 35px;
    padding-top: 80px;
  }

  h4 {
    font-size: 30px;
  }

  p {
    padding: 10px;
    font-family: f.$montserrat-medium !important;
  }

  code {
    border-radius: 5px;
    padding: 3px 4px;
    background-color: #343942;
  }

  section {
    font-family: f.$font-main !important;
  }

  @media screen and (max-width: 768px) {
    p {
      padding: 15px;
    }
  }

}
