@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth !important;/* SCROLL suave para links internos */
}

body{
  height: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
  min-height: 100% !important;
  color: white !important;
  background-color: #0A192F !important; /* Secondary color: #060D15 */
  font-family: 'Ubuntu', sans-serif !important;
}

label {
  font-weight: bold;
}

a {
  color: #5EEAD4;
  text-decoration: none;
}

ul {
  list-style: none;
}

.clear{
  clear: both !important;
}

/*estilizando a scrollbar*/
body::-webkit-scrollbar-track{background: #0A192F }
body::-webkit-scrollbar{width: 6px;}
body::-webkit-scrollbar-thumb{ background-color: #5EEAD4; }



/* === FONTS === */
@font-face {
  font-family: 'SF Mono';
  src: url('assets/static/fonts/SFMonoRegular.woff') format('truetype');
}

@font-face {
  font-family: 'SF Mono-900';
  src: url('assets/static/fonts/SFMonoRegular.woff') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Calibre-semibold';
  src: url('assets/static/fonts/Calibre-Semibold.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Calibre-Regular';
  src: url('assets/static/fonts/Calibre-Regular.woff2');
}
