<div class="philosophy" id="philosophy" data-aos="zoom-in-up" data-aos-duration="1500">
  <div class="philosophy">
    <h2 class="title-philosophy"><small style="color: #4FE8D0; margin-right: 16px;">02.</small>Minha Filosofia</h2>

    <p style="margin-top: 30px; font-size: 20px; color: #8892b0; line-height: 26px; font-family: serif;">
      <img src="../../../assets/static/images/na.webp" />
      &nbsp;&nbsp;&nbsp;Sou um desenvolvedor que busca ser sempre pragmatico, genérico em muitos assuntos, porém especialista em
      outros que considero serem importantes (equilíbrio). Eu me esforço para fornecer excelentes experiências planejando, desenho o
      software (as vezes UML), programando (codando projeto), fazendo deploy funcional, e trazendo melhorias e recursos com o tempo.
      Sim, o chamado "<a target="_blank" href="https://agilemanifesto.org/iso/ptbr/principles.html">Agile</a>".<br>
      &nbsp;&nbsp;&nbsp;Sinceramente, eu gostaria de saber por que as pessoas gastam montanhas de dinheiro em livros e palestras para
      aprender literalmente o <b title="juro, se isso não é obvio pra ti, repense a carreira">óbvio</b>,
      sim eu sei, isso é inesperado de ser ver em um site de apresentação, mas definitivamente não sou o cara que constuma
      ouvir "<s>gurus da programação</s>", falando coisas chatas como "faça isso dessa forma" ou
      "faça dessa forma", sim eu sei, isso é ignorância e arrogância, é ser basicamente um ignorante das regras, mas não literalmente,
      deixe eu me explicar.<br>
      <img style="clear: both;" src="../../../assets/static/images/nrnl.webp" />
      &nbsp;&nbsp;&nbsp;Na real, eu até sigo workflows e metódos, porém desde que não sejam muito restritivos, restrição para mim
      é o mesmo que bloqueio criativo,
      e sim eu sigo a ideia de "ágil" ou "regras", mas ao mesmo tempo não as sigo, pois, para mim, não é uma regra ou
      algo que aumenta a produtividade, mas sim o óbvio, e me oponho a regras e procedimentos que não fazem sentido, pois, para mim,
      o software é simples e é uma arte, não algo para se ter excesso de regras sobre como fazê-lo.<br> <span class="clear"></span>
      &nbsp;&nbsp;&nbsp;Sou uma pessoa extremamente
      <b title="que não é ligado ou preso a uma técnologia e que não gosta de regras limitantes">versátil e promiscua</b>
      quando se trata de programação, e odeio ouvir o óbvio. Quer ver como ser programador é simples?, veja minha filosofia como programador:
    </p>

    <p style="text-align: center; margin: 12px; font-size: 20px; color: #c3c6d2; line-height: 26px; font-family: Georgia, serif; font-style: italic;">
      "Faça a aplicação de forma responsavel, antes de criar uma nova funcionalidade, pense se ela terá um IMPACTO POSITIVO no produto e se
      facilitar a vida do usuário ou diminuira os custos da aplicação, analise para ver se não é algo que VOCÊ QUER FAZER,
      o importante é o produto, o código deve ser legível, livre de bugs, performático, seguro e permanecer no ar independente de qualquer coisa.
      Não faça <b title="excesso de engenharia">overengineer</b> desnecessariámente, e não exagere nos design patterns."
    </p>

    <p style="font-size: 20px; color: #8892b0; line-height: 26px; font-family: serif;">
      <img class="img-cj" src="../../../assets/static/images/cjkkk.webp">
      &nbsp;&nbsp;&nbsp;Claro, não levo isso ao pé da letra, o bons programadores que realmente gostam de programar
      (The Art of Computer Programming),
      amam fazer overengineer, gostamos de fazer isso não porque gostamos de matar moscas com bazuca hahah, e sim fazemos porque
      simplesmente gostamos de experimentar coisas que não fazemos no dia a dia. Sim em um projeto pessoal eu <b>uso e abuso</b>
      de overengineer, uso e testo aquelas tecnologias que provavelmenta são desnecessarias no meu dia a dia e que apenas grandes
      empresas usam, nele eu faço literalmente qualquer merda, mas esse é um código de hobby, não um código de um produto real
      cujo a função é PARA GERAR LUCRO.
    </p>

    <div class="clear"></div>

    <ul class="recently-tech">
      <p style="margin-top: 30px; font-size: 20px; color: #8892b0; line-height: 26px; font-family: serif;">
        Tecnologias com as quais tenho estudado e trabalhado recentemente:</p>

      <div class="list-0">
        <li>PostgreSQL</li>
        <li>Angular</li>
        <li>Vue (nuxt)</li>
      </div>
      <div class="list-1">
        <li>Java (Spring)</li>
        <li>AWS</li>
        <li>Heroku</li>
      </div>
    </ul>

  </div>
</div>
